<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript">
        function addTextToInput(anElement) {
		  document.getElementById('translate').value = anElement.value;
		}
    </script>
    <script type="text/javascript">
    	$(document).ready(function() {
			$('.header_burger').click(function(event) {
				$('.header_burger,.header_menu').toggleClass('active');
				$('body').toggleClass('lock');
			})
		})
    </script>
</head>
<body>
    <header class="header">
        <div class=header_container>
            <div class="header_body">
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">

                        {% block burger %}{% endblock %}

                    </ul>
                </nav>
            </div>
        </div>
    </header>
	
    <main>
        <div class="container">
            <div class="title">

                {% block option %}{% endblock %}

                <a href="#popup-dictionary" class="title-dictionary-position">
                    <div class="title-content">
                        <div class="title-text">
                            {% if num != '' %}
                            Dict {{ num }}
                            {% else %}
                            Enter dict
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            <form action="{% block url %}{% endblock %}" method="post">
                <div class="content">
                    <div class="block-ask">

                        {% block ask %}{% endblock %}

                    </div>
                    <div class="block-answer">

                        {% block answer %}{% endblock %}

                        {% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash_{{cat}}">{{msg}}</div>
                        {% endfor %}
                    </div>
                </div>
	            
                <div class="footer">

                    {% block footer %}{% endblock %}
	                
	                <div class="footer-button-position">
	                    <input type="submit" class="button" value="Submit">
	                </div>
	            </div>
            </form>
        </div>
        
    </main>
    <addition>

        {% block option_popup %}{% endblock %}

        <div id="popup-dictionary" class="popup">
            <a href="#" class="popup-area-close"></a>
            <div class="popup-position">
                <form action="{% block url_popup %}{% endblock %}" method="post">
                    <div class="popup-content-dictionary">
                        <a href="#" class="popup-close">X</a>
                        <div class="popup-title">Enter the dictionary number:</div>
                        <div class="dictionary">
                            <input type="text" name="num" class="dictionary-input" placeholder="Enter number" autocomplete="off" required>
                        </div>
                        {% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash_{{cat}}">{{msg}}</div>
                        {% endfor %}
                        <div class="button-block">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </addition>           
</body>
</html>